* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.subHeading {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #003049;
  font-weight: 300;
}
.span-text {
  color: #fcbf49;
}
