footer {
  background-color: #003049;
}

.txt {
  color: #ffffff;
  font-weight: 300;
}

.text-reset {
  text-decoration: none;
}
.social-icons {
  color: #ffffff;
}
.social-section {
  border-bottom: 1px solid #033b59;
}
