.reviews {
  margin-top: 50px;

  .add {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .reviewHeadline {
      font-weight: 300;
    }
    .addForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      textarea {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(219, 212, 212);
      }

      select {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid rgb(219, 212, 212);
        align-self: flex-end;
      }
      button {
        align-self: flex-end;
        width: 100px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        color: white;
        background-color: #1dbf73;
        cursor: pointer;
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
    margin: 50px 0px;
  }
}
